
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body{
    margin: 0px;
   padding: 0px;
}
#nav{
background-color: rgb(242 63 20);
}
#navbar{
margin: 10px;
font-size: 33px;
color: black;
float: right;
font-family: 'Yanone Kaffeesatz', sans-serif;
padding-top: 6px;
}

.logo{    
     height: 69px;
    width: 90px;
    padding: 0px;
}
#firstimage{
    
    padding-top: 10px;
    padding-right: 10px;
}
h1{
    text-align: center;
    font-family:  'Roboto Slab', serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 30px;
    text-decoration: underline;
}
/* h2,h4{
    font-family:  'Roboto Slab', serif;
    color: rgb(242 63 20) ;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
} */
h2{
    font-family:  'Roboto Slab', serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}
h2:hover{
    font-size: 55px;
    transition: 1s;
}

#description{
    text-align: center;
    font-weight: bold;
    color: #00000087;
}
#chef{
    height: 116px;
    width: 143px;
    padding-left: 40px;
    text-align: center;
}
#chefdescription{
text-align: center;
font-weight: bold;
}
#whatsapp{
    height: 200px;
    width: 200px;
    margin-right: 160px;
    margin-top: 15px;
    margin-left: 5px;
}

#insta{
height: 200px;
width: 200px;
margin-top: 15px;
margin-left: 226px;
margin-right: 245px;
}

#phone{
height: 138px;
width: 111px;
margin-left: 160px;
margin-right: 5px;
}
#clicktoorderwhatsapp{
    font-weight: bold;
    margin-left: 5px;
    margin-right: 150px;
}
#clicktoorderinstagram{
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
}
#clicktoordercall{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 150px;
}