
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body{
    margin: 0px;
   padding: 0px;
}


.container1{
    display: flex;
 background-color: black;
 width: 100%;
}

.navbar1{
    display: flex;
    justify-content: center;
  height: 77px;
  /* width: 100%; */
}

.nav1{
    margin-left: 70px;
    padding-top: 15px;
    font-size: 28px;
    text-decoration: none;
    color: wheat;
     transition: 1s;
}
.nav1:hover{
color: white;
text-decoration: underline;
font-size: 30px;
padding: 10px;
}

.logo{    
     height: 69px;
    width: 90px;
    padding: 0px;
}
#firstimage{
    
    padding-top: 10px;
    padding-right: 10px;
}
h1{
    text-align: center;
    font-family:  'Roboto Slab', serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 30px;
    text-decoration: underline;
}
/* h2,h4{
    font-family:  'Roboto Slab', serif;
    color: rgb(242 63 20) ;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
} */
h2{
    font-family:  'Roboto Slab', serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}
h2:hover{
    font-size: 55px;
    transition: 1s;
}

#description{
    text-align: center;
    font-weight: bold;
    color: #00000087;
}
#chef{
    height: 116px;
    width: 143px;
    padding-left: 40px;
    text-align: center;
}
#chefdescription{
text-align: center;
font-weight: bold;
}
#whatsapp{
    height: 200px;
    width: 200px;
    margin-right: 160px;
    margin-top: 15px;
    margin-left: 5px;
}

#insta{
height: 200px;
width: 200px;
margin-top: 15px;
margin-left: 226px;
margin-right: 245px;
}

@media screen and (max-width: 1300px){
    #whatsapp{
        margin-left: 92px;
    }
   #insta{
    display: block;
    text-align: center;
    margin: 0px;
    margin-left: 92px;
   }
   #phone{
    display: none;
   }
   .nav1{
    font-size: 17px;
    margin: 8px;
   }
   #firstimage{
       width: 100%;
       padding-top: 0px;
    }
    /* #details1{
     display: none;
    } */
}


  
@media screen and (min-width: 1300px){
    #phonesmall{
        display: none;
    }   
   
    /* #details{
        display: none;
      }
        */
}


#phone{
height: 138px;
width: 111px;
margin-left: 160px;
margin-right: 5px;

}

#phonesmall{
height: 138px;
width: 111px;
margin-left: 135px;
}
#clicktoorderwhatsapp{
    font-weight: bold;
    margin-left: 5px;
    margin-right: 150px;
}
#clicktoorderinstagram{
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
}
#clicktoordercall{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 150px;
}
#details{
    height: 400px;
    width: 100%;
    background-color: black;
}
h3,h4,h5{
    font-family:  'Roboto Slab', serif;
    color: wheat;
    font-weight: bold;  
}
#aboutus,#contactus,#aboutus1,#contactus1{
    color: rgb(151, 165, 135);
    font-weight: bold;
}
#about{
    margin-left: 10px;
}
#contact{
    margin-left: 10px;

}
#follow{
    
    margin-left: 10px;
}

